.create-didactic-material__form {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  width: 350px;
  max-width: 90%;
  padding-bottom: 15px;
}

.created {
  width: 350px;
  max-width: 90%;
  color: greenyellow;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .create-didactic-material__form {
    padding-top: 30px;
  }

  .actions {
    justify-content: flex-end;
    padding: 15px 0;
  }
}
