.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90%;
  width: 350px;
  color: var(--color-primary-900);
}

@media screen and (min-width: 1024px) {
  .actions {
    flex-direction: row;
  }
}
