.materials {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.error {
  color: var(--color-primary-800);
  font-size: 26px;
}

@media screen and (min-width: 1024px) {
  .materials {
    padding: 20px;
  }
}
