.modal {
    position: fixed;
    top: 5vh;
    left: 5%;
    width: 90%;
    max-width: 1600px;
    height: 90vh;
    background-color: white;
    padding: 1rem;
    z-index: 110;
    border-radius: 5px;
  }

  @media screen and (max-width: 767px) {
    .modal {
      height: 80vh;
      top: 10vh;
    }
  }
  
  @media screen and (min-width: 768px) {
    .modal {
      width: 80%;
      left: 10%;
    }
  }
  
  @media screen and (min-width: 1600px) {
    .modal {
      left: 50%;
      transform: translateX(-50%);
    }
  }